Repository davidnotplay/vue-my-dropdown: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

Fix doc
  docs/assets/index-BU8oIHOq.js
  docs/assets/index-ClZmvkFd.js
  docs/index.html
  vite-docs.config.ts
Due: prettier --write, npm run lint:fix

Add mark
  index.html
Due: none

Add mark
  docs/index.html
Due: none

Remove mark
  docs/index.html
  index.html
Due: none

Fix vulnerabilities
  dist/style.css
  dist/vue-my-dropdown.es.js
  dist/vue-my-dropdown.umd.js
  docs/assets/index-BU8oIHOq.js
  docs/assets/index-CAHMt4Yq.js
  docs/assets/index-EmIwBUjZ.css
  docs/assets/index-LZDMcGjZ.css
  docs/index.html
  package-lock.json
  package.json
  src/style.css
Due: prettier --write, npm run lint:fix

Update README.md
  README.md
Due: none

Add bot update version
  .github/workflows/run-dependbot.yml
  .github/workflows/run-tests.yml
  package.json
Due: prettier --write

Rename actions
  .github/workflows/run-dependabot.yml
  .github/workflows/run-tests.yml
Due: none

Fix actions
  .github/workflows/run-dependabot.yml
  .github/workflows/run-tests.yml
Due: none

Add gitattributes
  .gitattributes
Due: none

Fix action
  .github/workflows/run-tests.yml
Due: none

Path conditions:
  prettier --write: (((((any of: *.json) or (any of: *.scss)) or (any of: *.css)) or (any of: *.ts)) or (any of: *.js)) or (any of: *.vue)
  npm run lint:fix: ((any of: *.ts) or (any of: *.js)) or (any of: *.vue)
